body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.day-label {
  text-align: center;
  width: 7rem;
  margin: 0.2rem;
  display: inline-block;
}

.cell {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  outline: 1px solid black;
  margin: 0.2rem;
  overflow: hidden;
}

.placeholder {
  background-color: rgb(218, 218, 218);
  outline: none;
}

.marker {
  display: block;
  background-color: black;
  height: 12px;
  margin-top: 4px;
}

.between {
  width: 100%;
}

.start {
  width: 40%;
  margin-left: 60%;
  border-radius: 5px 0 0 5px;
}

.end {
  width: 40%;
  border-radius: 0 5px 5px 0;
}

.single {
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
}